body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

.cakeCard {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cakeImage {
  flex: 1;
  display: block;
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
}

.cakeName {
  flex: 1;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  max-width: 180px;
  height: 30px;
  margin-left: 20px;
}
